<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TestSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bc6874">  <td>16/03/10 15:08:30</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="multiplesessions.executeSessionTwo()[pri:0, instance:gmail.java.multiplesessions@6ad5c04e]">executeSessionTwo</td> 
  <td>pool-1-thread-2@1789681446</td>   <td></td> </tr>
<tr bgcolor="bc6874">  <td>16/03/10 15:08:30</td>   <td>4</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="multiplesessions.executeSessionOne()[pri:0, instance:gmail.java.multiplesessions@6ad5c04e]">executeSessionOne</td> 
  <td>pool-1-thread-1@536430417</td>   <td></td> </tr>
</table>
